.wrapper {
    background: #eaf4ff;
    padding: 10px 30px;
}
form dl dt {
    width: 200px;
    height: 40px;
    padding: 10px 0;
    line-height: 40px;
    float: left;
}
form dl dd {
    padding: 10px 0;
    margin: 0;
}
.box {
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    margin: 0;
    padding: 0 10px;
}
.calc-btn {
    width: 80px;
    height: 30px;
    border: 1px solid #333;
    margin-right: 5px;
}
.calc-btn:hover {
    cursor: pointer;
}
.font-bold {
    font-weight: bold;
}
.hide {
    display: none !important;
}